/* Styles for contact.html page */
form {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    color: #c0c0c0;
}

fieldset {
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3c783e;
}

button[type="reset"] {
    background-color: #f44336;
    margin-left: 10px;
}

button[type="reset"]:hover {
    background-color: #ab0b00;
}

.tel-link, .email-link {
    color: #aaaaaa;
    text-decoration: none;
}
.tel-link:hover, .email-link:hover {
    color: #ffffff;
}